Django==2.0.5
django-compressor
django-bower
pygame==1.9.3
pytz==2018.4

https://github.com/otmasolucoes/apps.core.authentication/zipball/master
rjsmin --install-option="--without-c-extensions"
rcssmin --install-option="--without-c-extensions"